.mainAddress, .under-construction {
    font-size: 1.5rem;
    font-weight: 800;
  }
  
  .under-construction {
    background-color: yellow;
    border: 2px dashed var(--background-color);
    margin: 10% 25%;
    border-radius: 5px;
    box-sizing: border-box;  
  }