@import './header.scss';
@import './main.scss';
@import './footer.scss';
@import './media.scss';

:root {
  --background-color: #282c34;
  --color: #fff;
}

.App {
  text-align: center;
  min-height: calc(100vh - 70px);
}

img[src=""], 
img[src="undefined"],
img[src="[object Module]"] {
  display: none;
}

.imageNone {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.navMobile {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

Select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
    display: none;
  }

  // Remove focus outline, will add on alternate element
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  Select,
  &::after {
    grid-area: select;
  }

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
}

label {
  font-size: 1.125rem;
  font-weight: 500;
}

.select + label {
  margin-top: 2rem;
}

.flex2 {
  margin-left: 1rem;
}