@import './header.scss';
@import './main.scss';
@import './footer.scss';
@import './media.scss';

:root {
  --background-color: #282c34;
  --color: #fff;
}

.App {
  text-align: center;
  min-height: calc(100vh - 70px);
}

img[src=""], 
img[src="undefined"] {
  display: none;
}

.imageNone {
  width: 50%;
  height: 50%;
}